@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
:root{
--first-hue: 250;
--sat: 66%;
--lig: 75%;
--second-hue: 219;
--first-color:#0FC2C0;
--container-color: hsl(var(--second-hue), 32%, 12%);
--text-color: hsl(var(--second-hue), 8%, 75%);
}
input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
    color: rgba(255, 255, 255, 0.678);
}

body{
    background-color: var(--container-color) !important;
    color: var(--text-color);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    padding-right: 1.5em;
}

h3{
    color: var(--text-color) !important;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

h4{
    color: #888 !important;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.greeting .title{
    display: flex;
}

.greeting .title input{
    margin-left: .5rem;
    flex: 1 1 0%;
    min-width: 0;
    max-width: 50%;
}

.greeting .title, 
.greeting .title input{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    background-color:var(--container-color);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    margin-bottom: 1.5rem;
}

.create-todo .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    /* display: flex ;
    justify-content: center;
    align-items: center; */
}

.create-todo .options label{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--container-color);
    color: var(--text-color);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    border-radius: .5rem;
    /* width: 400px; */
}

input[type="radio"],
input[type="checkbox"]{
    display: none;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(0, 81, 255);
}

.bubble.personal{
    border-color: rgb(255, 82, 111);
}

.bubble::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color:rgb(0, 81, 255) ;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.bubble.personal::after{
    background-color:rgb(255, 82, 111) ;
}

input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div{
    color: white;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: black;
    background-color: rgb(255, 93, 120);
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s ease-in-out;
}

.create-todo input[type="submit"]:hover{
    opacity: 0.75;
}

.todo-list .list{
    margin-top: 1rem;
    margin: 1rem 0;
}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content{
    flex: 1 1 0%;
}

.todo-item .todo-content input{
    color: white;
    font-size: 1.125rem;
}

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: .5rem;
    border-radius: .25rem;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo-item .actions button:hover{
    opacity: .75;
}

.todo-item .actions .edit{
    margin-right: .5rem;
    background-color: rgb(255, 228, 78);
    color: black;
}

.todo-item .actions .delete{
    margin-right: .5rem;
    background-color: rgb(255, 78, 78);
    color: black;
}

.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: #888;
}





/* FOR SMALL DEVICES */
@media screen and (max-width: 492px){
    .edit{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: .2rem;
        padding-right: .2rem;
        font-size: .8rem;
        height: 30px;
        position: absolute;
        right: 30%;
        background-color: rgb(255, 228, 78);
        color: black;
    }
    
    .delete{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: .2rem;
        padding-right: .2rem;
        font-size: .8rem;
        height: 30px;
        position: absolute;
        right: 10%;
        background-color: rgb(255, 78, 78);
        color: black;
    }

    .todo-item .todo-content input{
        color: white;
        font-size: 0.8rem;
    }
  }

  @media screen and (min-width: 780px){

  }